<h2>Contact Us</h2>
<div class="card">
  <form action="https://formspree.io/f/xrgodpqo" method="POST">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..." />

    <label> Email</label>
    <input type="text" id="email" name="_replyto" placeholder="Your name..." />

    <label for="subject">Message</label>
    <textarea
      id="subject"
      name="message"
      placeholder="Write something..."
      style="height: 170px"
    ></textarea>

    <input type="submit" value="Send" class="button" />
  </form>
</div>
