<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="{{ '/assets/img/logo.svg | absolute_url }}" />
            </div>
            <div class="nav-links">
                <a class="nav-link" href="{{ '/' | absolute_url }}">Home</a>
                <a class="nav-link" href="{{ '/blog' | absolute_url }}">Blog</a>                
                <a class="nav-link" href="{{ '/cv/resume.pdf' | absolute_url }}">Resume</a>
            </div>
            <div class="nav-toogle">
              <span class='nav-span'> Dark Mode </span>
              <label class="switch">
                <input type="checkbox" id="check-mode" onclick="darkmode()">
                <span class="slider round"></span>
              </label>
            </div>
        </a>
    </div>
</header>
