<header class="nav-bar">
    <div class="nav-content">
        <div class="nav-logo">
            <a href="{{ '/' | relative_url }}"><img src="./assets/img/logo.svg" /></a>    
        </div>
        <a class="nav-link" href="{{ site.url }}/projects">Projects</a>
        <a class="nav-link" href="{{ site.url }}/experience">Work Experience</a>
        <a class="nav-link" href="{{ site.url }}/education">Education</a>
        <a class="nav-link" href="{{ site.url }}/achievements">Achivements</a>
        <a class="nav-link" href="{{ site.url }}/cv/resume.pdf">Resume</a>
    </div>
</header>