<header class="nav-bar">
    <div class="nav-content">
        <!-- Logo and title -->
        <a href="{{ '/' | relative_url }}">
            <img class="nav-content nav-logo" src="./assets/img/logo.svg" />
        </a>
        

        <!-- Toggle menu -->
        <nav class="clear">
            <ul id="menu" class="hide">
                <li class="separator"></li>
                <li><a title="Learn More" href="https://fellowship.mlh.io">Learn More about the MLH Fellowship</a></li>
            </ul>
        </nav>
    </div>
</header>