<h2>Projects</h2>
<div class="card-container ">
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <a href="{{ '/projects/' | append: item.page-name | absolute_url }}">
    {% else %}
    <a>
    {% endif %}
      <div class="card shadow">
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  