@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'navbar';
@import 'projects';
@import 'experience';
@import 'education';
@import 'profile';

.project-container, .experience-container, .education-container {
    display: grid;
    margin-left: 40px;
    font-family: "Poppins";
}

h2 {
    margin-left: 40px;
    margin-bottom: 20px;    
    font-family: "Poppins";
    font-weight: 600;     
}