@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'projects';
@import 'experience';
@import 'education';
@import 'profile';

.project-container, .experience-container, .education-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #f5f5f9;
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 20px;    
    margin-top: 20px; 
    font-weight: 700;     
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}