/* Style inputs */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form {
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"] {
  background-color: #1d539f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #232fdf;
}

/* Create two columns that float next to eachother */
.column {
  align-content: center;
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
