/* begining of flip card scss */

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border-radius: 5px;
    padding: 16px;
    border: 5px;
    border-color: #747474;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 5px;
    filter: drop-shadow(0 0 4px whitesmoke);
    img {
        object-fit: contain;
        width: 100%;
        height: auto;
        min-height: 100%;
        max-height: 100%;
    }
}


/* Style the back side */

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
    box-shadow: 0 0 35px 30px #0000000d;
    .hobbies-text {
        text-align: center;
        p {
            text-align: center;
        }
    }
}

.column {
    padding: 0 2rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 4rem;
}


/* end of flip card scss */
