.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
}

.nav-content {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-logo {
    margin-right: auto;
    height: 60px;
    margin-top: 10px;
}

.nav-logo img {
    width: calc(100px + 6vw); 
}

.nav-link {
    color: white;
    border-radius: 6px;
}

.nav-link:hover, .nav-link:focus {
    background-color: #3a6cb3;
    color: white;
}
