@import 'variables';

p, h1, h2, h3, h4, h5, h6, button {
    font-family: $font_family;
}

h2 {
    font-size: large;
}

body {
    background-color: $body_background !important;
    background-size: cover;
    width: auto!important; 
    overflow-x: hidden!important;
    font-family: $font_family;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: $title_color;
    font-size: $title_font_size;
    font-weight: 700;
}

.page {
    text-align: left;
}


.page h1 {
    text-align: left !important;
    font-weight: 800 !important;
    color: $text_color;
    font-size: $fontsize_h1;
    margin-bottom: 0.7em;
}

.page h2 {
    text-align: left !important;
    font-weight: 800 !important;
    color: $text_color;
    font-size: $fontsize_h2;
    margin-bottom: 0.5em;
}

.page h3 {
    font-weight: 600 !important;
    text-align: left !important;
    color: $text_color;
    font-size: 1.3rem;
}

.page h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: $text_color;
}

.page p {
    color: $text_color;
    font-weight: 500;
}

.page td {
    color: $text_color;
}

.page th {
    color: $text_color;
}

.page li {
    color: $text_color;
}

.page a {
    color: $link;
}

.page a:hover {
    color: $link;
}

.page code {
    color: #17a2b8;
}

hr {
    background-color: black;
    padding: 1px;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px) {
    
    .banner {
        padding: 20px 0px 20px 0px;
        height: 110px;
    }

    .banner .logo {
        max-width:150px;
        max-height:60px;
        width: auto;
        height: auto;
    }
}
