.profile {
    text-align: center;
    h1 {
        font-size: 50px;
        font-family: "Poppins";
        font-weight: 700;
        margin-bottom: 40px;
    }

    img {
        border-radius: 50%;
        width: 15%;   
        margin-bottom: 20px;
        border-color: #f8b92a;
        border-width: 5px;
        border-style: solid;
    }
}
