.project {
    
    .info {
        display: block;
        box-sizing: initial;
        p {
          margin: 0px;
        }
    
        .title {
          margin-top: 5px;
          font-size: 500;
          font-weight: bold;
          text-align: left;
        }
    
        .event {
          margin-top: 5px;
          font-size: medium;
          text-align: left;
          font-weight: 400;
        }

        .date {
            margin-top: 2px;
            font-size: small;   
            text-align: left;
            color: #404040;
          }
    }
}
