$herobackground: #1d539f;
$font_family: "Open Sans", serif;
$text_color: black;
$link: #0f90fe;
$title_color: white;
$body_background: #f5f5f9;
$cardnum_big: 4;
$cardnum_medium: 3;
$cardnum_small: 2;
$card_font_size: 1.2em;
$title_font_size : calc(25px + 1.5vw);
$fontsize_h1 : calc(1.5rem + 0.5vw); 
$fontsize_h2 : calc(1rem + 0.5vw);
$fontsize_h1_profile : calc(1.5vw + 23px);